@using System.IO
@using System.Text;

@inject school.Data.ApplicationDbContext _context

<div style="max-width: 600px;">
    <EditForm Model="@tentor" OnSubmit="OnValidSubmit">
        <MudCard>
            <MudCardContent>
                <MudTextField T="string" Label="Examinator" @bind-Value="tentor.Examinator" /> 
                <MudDatePicker Label="Basic example" @bind-Date="tentor.Datum" /> 
                <BlazorInputFile.InputFile id="fileInput" OnChange="HandleFileSelected" hidden />
                <MudButton HtmlTag="label"
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        StartIcon="@Icons.Filled.CloudUpload" for="fileInput">
                    Upload Files
                </MudButton>
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Skapa</MudButton>
            </MudCardActions>
        </MudCard>
    </EditForm>
</div>

@code {
    Tentor tentor = new Tentor();
    IFileListEntry file;
    public string Data { get; set; }
    //public string someString { get; set; }
    public Byte[] Bdata { get; set; }



    public async void HandleFileSelected(IFileListEntry[] files)
    {
        file = files.FirstOrDefault();

        await GetFileData();

        StateHasChanged();
    }


    // on valid submit method
    async Task GetFileData()
    {
        using (var reader = new System.IO.StreamReader(file.Data))
        {
            Data = await reader.ReadToEndAsync();


            // turn to byte array for database
            Bdata = Encoding.UTF8.GetBytes(Data);

            // turn back to string
            //someString = Encoding.UTF8.GetString(Bdata);
        }
    }

    public void OnValidSubmit(EditContext context)
    {
        // build data object
        tentor = new Tentor()
        {
            Datum = tentor.Datum,
            Examinator = tentor.Examinator,
            Data = Bdata
        };

        // this is where we will save to the database
        _context.Tentor.Add(tentor);
        _context.SaveChanges();

        Snackbar.Add("Fil skapad", Severity.Normal);
        NavigationManager.NavigateTo("/ID1019");
    }
}

