################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/school/varren.sln
/.vs/school/v16
