#editor {
    position: relative;
    height: 500px;
    width: 100%;
    font-size: 16px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.viewer {
    position: relative;
    height: calc(100vh - 64px) !important;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.viewerEditor {
    position: relative;
    height: calc(100vh - 64px) !important;
    width: 1570px !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
