@using Microsoft.EntityFrameworkCore
@inject school.Data.ApplicationDbContext _context
@inject IJSRuntime _jsRuntime

@page "/{Kurs}/edit/{Id:int}"

<div class="viewerEditor" id="editor"></div>
<MudIconButton Color="Color.Success" Style="position: fixed; right: 3px; top: 60px" Icon="@Icons.Material.Filled.Save" OnClick="Save"/>

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string Kurs { get; set; }

    public Kod kod { get; set; }

    protected override async Task OnInitializedAsync()
    {
        kod = await _context.Code.Where(x => x.Id == Id).FirstOrDefaultAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _jsRuntime.InvokeVoidAsync("renderPreloadEditor", kod.Data);
        await _jsRuntime.InvokeVoidAsync("setLang", kod.Lang);
    }

    public async Task Save()
    {
        kod.Data = await _jsRuntime.InvokeAsync<string>("getEditorData");

        _context.Update(kod);
        _context.SaveChanges();
        StateHasChanged();
        Snackbar.Add("Sparad", Severity.Normal);
    }

}

