@using Microsoft.EntityFrameworkCore
@inject school.Data.ApplicationDbContext _context
@inject IJSRuntime _jsRuntime

@page "/{Kurs}/view/{Id:int}"


@if (lang == "html")
{
    <div class="viewerHtml" id="editor"></div>
    <iframe style="height: 100vh" srcdoc="@((MarkupString)Code)">
    </iframe>     
}
else
{
    <div class="viewer" id="editor"></div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string Kurs { get; set; }

    public Kod kod { get; set; }

    public string Code;

    public string lang;

    protected override async Task OnInitializedAsync()
    {
        kod = await _context.Code.Where(x => x.Id == Id).FirstOrDefaultAsync();
        Code = kod.Data;
        lang = kod.Lang;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _jsRuntime.InvokeVoidAsync("renderViewer", kod.Data);
        await _jsRuntime.InvokeVoidAsync("setLang", kod.Lang);
    }

}
